REVALIDATE_SECRET=""
RESUME_DB_BASE_URL="https://resume-data-8215f-default-rtdb.europe-west1.firebasedatabase.app"
ALEMBIC_DB_BASE_URL="https://alembicsoft-75205-default-rtdb.europe-west1.firebasedatabase.app"
BLOG_LOCAL="1"