NEXT_PUBLIC_API_BASE_URL=https://backend-or-rtdb-url-here
NEXT_PUBLIC_STORAGE_URL=https://firebasestorage.googleapis.com/v0/b/resume-data-8215f.appspot.com/o/
REVALIDATE_SECRET_TOKEN=your-revalidate-secret-token-here

# Analytics 
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXX
NEXT_PUBLIC_CLARITY_ID=your-clarity-id-here
SENTRY_DSN=YOUR_SENTRY_DSN_HERE
NEXT_PUBLIC_SENTRY_ENVIRONMENT=local